.header {

  margin: 2rem 0;

  &-box {
    margin: 0 auto;
    display: flex;
    width: 95%;
    justify-content: space-between;
    &-icon {
      width: 20%;
      display: flex;
      justify-content: center;
      vertical-align: center;
      align-items: center;
      background-color: #e6e6e6;
      border-radius: 50%;
      text-align: center;
    }

    &-text {
      margin-left: 2%;
      &-primary {
        span {
          font-weight: bold;
          font-size: 1.5rem;
        }
      }
      &-secondary {
        span {
          color: #827e7e;
          font-size: 1rem;
        }
      }
    }
  }
  &-searchbox {
    margin: 1.5rem;
    &-text {
      div {
        width: 100%;
      }
      input {
        background-color: #e6e6e6;
      }
    }
  }
}
